<div class="tab-bar">
    <div class="nav-header">
        <button mat-icon-button class="home-btn" (click)="navToHome()">
            <mat-icon class="mat-18">apps
            </mat-icon>
        </button>
        <span class="project-name"> {{projectName}}</span>

    </div>
    <div class="nav-footer">
        <button mat-icon-button (click)="displayMenu()" #originFab>
            <mat-icon class="mat-18">more_vert</mat-icon>
        </button>
    </div>
    <!-- <div [cdkPortalOutlet]="currentPortal"></div> -->
    <!-- <ng-template [cdkPortalOutlet]="currentPortal"></ng-template> -->
    <div class="tab-content">
        <div [cdkPortalOutlet]="currentPortal" #por="cdkPortalOutlet"></div>
    </div>
    <!-- <ng-template [cdkPortalOutlet]="currentPortal"></ng-template> -->
    <ng-template cdkPortal let-nameInTemplate="nameInObject">
        <p>The content of this template is captured by the portal.{{nameInTemplate}}</p>
    </ng-template>
    <ng-template cdkPortal #overlayMenuList cdkScrollable>
        <div class="fab-menu-panel mat-elevation-z3">
            <div class="right-nav-overlay-header-wrap">
                <span translate>RIGHTSIDE_NAV.PROJECT_MENU</span>
                <button mat-icon-button class="toggle-rightnav-btn" (click)="displayMenu()">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <div class="right-nav-overlay-container">
                <div class="right-nav-overlay-wrap" cdkScrollable>
                    <div class="right-nav-overlay-operation-wrap">
                        <mat-nav-list>
                            <a mat-list-item>{{'RIGHTSIDE_NAV.STATICS' | translate}}</a>
                            
                        </mat-nav-list>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="right-nav-overlay-actor-wrap">
                        <div class="right-nav-overlay-actor-header">
                            <mat-icon class="mat-18 margin-left-16px">supervisor_account</mat-icon>


                            <span class="margin-left-16px" translate>RIGHTSIDE_NAV.ACTOR</span>
                        </div>
                        <div class="actor-group-info-wrap">

                            <div class="actor-item margin-bottom-16 project-owner">
                                <!-- <span class="profile">{{projectOwner.name | slice:0:1}}</span> -->
                                <!-- <span>Although the icons in the </span> -->

                                <div class="actor-content-set-owner fill-space">
                                    <div class="profile">
                                        {{projectOwner.name | slice:0:1}}

                                    </div>
                                    <span> {{projectOwner.name}}
                                        <span style="color: #757575">({{projectOwner.email}})</span>
                                    </span>
                                    <span class="fill-space"></span>
                                    <mat-icon class="flex-end owner-icon">star</mat-icon>
                                    <!-- <div class="user-name">{{actor.user_name}}</div> -->
                                </div>
                            </div>
                            <div *ngFor="let actor of projectActors" class="actor-item margin-bottom-16">
                                <!-- <span class="profile">{{actor.user_name | slice:0:1}}</span> -->
                                <!-- <span>Although the icons in the </span> -->

                                <div class="actor-content-set-owner">
                                    <!-- <span class="profile">{{actor.user_name | slice:0:1}}</span> -->
                                    <div class="profile">
                                        {{actor.user_name | slice:0:1}}
                                    </div>
                                    <span> {{actor.user_name}}
                                        <span style="color: #757575">({{actor.email}})</span>
                                    </span>
                                    <!-- <div class="user-name">{{actor.user_name}}</div> -->
                                </div>

                            </div>

                            <div class="actor-group-add-handler">
                                <button mat-button class="add-handler" (click)="displayAddUserOverlay()" #addUserButton>
                                    <mat-icon class="mat-18 ">person_add</mat-icon>
                                </button>


                            </div>
                        </div>



                    </div>
                    <mat-divider></mat-divider>
                    <div class="right-nav-overlay-activity-wrap">
                        <div class="right-nav-overlay-activity-header">
                            <mat-icon class="mat-18 margin-left-16px">local_activity</mat-icon>
                            <span class="margin-left-16px" translate>RIGHTSIDE_NAV.ACTIVITY</span>
                        </div>
                        <div class="actor-group-info-wrap">
                            <div class="actor-item">

                                <!-- <span class="profile">里</span> -->
                                <!-- <span>Although the icons in the </span> -->
                                <div class="actor-content-set">
                                    <div class="actor-content-header">
                                        <div class="profile">里</div>
                                        <div class="user-name">asdfasd</div>
                                    </div>
                                    <!-- <div class="user-name">asdfasd</div> -->
                                    <header class="actor-content-wrapper">
                                        <div class="actor-content">asdfasdfasdf</div>

                                    </header>
                                    <section class="actor-info-wrapper">
                                        <div class="actor-infos">
                                            <span>sfsfdh</span>
                                        </div>
                                    </section>
                                </div>

                            </div>
                            <div class="actor-item">

                                <!-- <span class="profile">里</span> -->
                                <!-- <span>Although the icons in the </span> -->
                                <div class="actor-content-set">
                                    <div class="actor-content-header">
                                        <div class="profile">里</div>
                                        <div class="user-name">asdfasd</div>
                                    </div>
                                    <!-- <div class="user-name">asdfasd</div> -->
                                    <header class="actor-content-wrapper">
                                        <div class="actor-content">asdfasdfasdf</div>

                                    </header>
                                    <section class="actor-info-wrapper">
                                        <div class="actor-infos">
                                            <span>sfsfdh</span>
                                        </div>
                                    </section>
                                </div>

                            </div>
                            <div class="actor-item">

                                <!-- <span class="profile">里</span> -->
                                <!-- <span>Although the icons in the </span> -->
                                <div class="actor-content-set">
                                    <div class="actor-content-header">
                                        <div class="profile">里</div>
                                        <div class="user-name">asdfasd</div>
                                    </div>
                                    <!-- <div class="user-name">asdfasd</div> -->
                                    <header class="actor-content-wrapper">
                                        <div class="actor-content">asdfasdfasdf</div>

                                    </header>
                                    <section class="actor-info-wrapper">
                                        <div class="actor-infos">
                                            <span>sfsfdh</span>
                                        </div>
                                    </section>
                                </div>

                            </div>
                            <div class="actor-item">

                                <!-- <span class="profile">里</span> -->
                                <!-- <span>Although the icons in the </span> -->
                                <div class="actor-content-set">
                                    <div class="actor-content-header">
                                        <div class="profile">里</div>
                                        <div class="user-name">asdfasd</div>
                                    </div>
                                    <!-- <div class="user-name">asdfasd</div> -->
                                    <header class="actor-content-wrapper">
                                        <div class="actor-content">asdfasdfasdf</div>

                                    </header>
                                    <section class="actor-info-wrapper">
                                        <div class="actor-infos">
                                            <span>sfsfdh</span>
                                        </div>
                                    </section>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>

    </ng-template>
    <ng-template cdkPortal #overlayUserList>
        <div class="add-user-panel mat-elevation-z3">
            <div class="search-panel-header mat-elevation-z2">
                <span *ngIf="isShowPanelHeader" class="search-panel-header-title">添加成员</span>
                <span class="fill-space"></span>
                <td-search-box class="search-box" backIcon="arrow_back" placeholder="Search here" [(ngModel)]="searchInputTerm" [showUnderline]="true"
                    [debounce]="300" [alwaysVisible]="false" (searchDebounce)="searchUsers($event)" (clear)="onSearchInputClear($event)">
                </td-search-box>
            </div>
            <div *ngIf="isSearchResultEmpty" class="result-empty-message">
                <span>没有符合条件的用户</span>
            </div>
            <div class="search-panel-content">

                <mat-selection-list #usersList>
                    <mat-list-option *ngFor="let user of searchUserResult" [value]="user">
                        <span> {{user.name}}
                            <span style="color: #757575">({{user.email}})</span>
                        </span>
                    </mat-list-option>
                </mat-selection-list>

            </div>
            <!-- <mat-divider></mat-divider> -->
            <div class="search-panel-footer">
                <!-- <button mat-mini-fab color="primary" (click)="onClick">
                  <mat-icon class="mat-18">done</mat-icon>
              </button> -->
                <button mat-button color='primary' (click)="onAddUser()">添加</button>
            </div>
        </div>
    </ng-template>
    <!-- <div class="righte-side-nav" *cdkPortal #rightNav>
            The content of this template is captured by the portal.
    </div> -->

    <nav mat-tab-nav-bar color="primary">
        <a [routerLink]="taskUrl" routerLinkActive #rla="routerLinkActive" mat-tab-link class="tab" [active]="rla.isActive" translate>TAB_BAR.TASK</a>
        <a mat-tab-link [routerLink]="shareUrl" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" class="tab" translate>TAB_BAR.SHARE</a>
        <a mat-tab-link [routerLink]="agendaUrl" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" class="tab" translate>TAB_BAR.AGENDA</a>
        <a mat-tab-link [routerLink]="staticUrl" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" class="tab" translate>TAB_BAR.STATICS</a>

    </nav>
</div>