<app-navbar></app-navbar>
<app-tab-bar [projectId]="projectId"></app-tab-bar>
<div class="agendas-container">
<div class="events-header">
  <div class="card event-create-handler">
      <mat-expansion-panel #expd="matExpansionPanel">
          <mat-expansion-panel-header>
            Add agenda
          </mat-expansion-panel-header>
        
          <div class="component-mount due-date">

              <mat-form-field class="datepicker-form">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <input matInput  [matDatepicker]="picker" placeholder="Due date">
              </mat-form-field>


             
           
              <button mat-icon-button class="repeatBtn" (click)="selectRepeat()" >
                <mat-icon class="mat-18 mat-icon-grey">settings_backup_restore</mat-icon>
              </button>
              <mat-form-field class="repeatSelect">
                <mat-select  class="select-repeat-items" placeholder="Set Repeat" >
                  <mat-option value="0">None</mat-option>
                  <mat-option value="1">Per Day</mat-option>
                  <mat-option value="2">Per Week</mat-option>
                  <mat-option value="3">Per Month</mat-option>
                  <mat-option value="4">Per Year</mat-option>

                </mat-select>
              </mat-form-field>
              <button mat-icon-button class="notiBtn">
                <mat-icon class="mat-18 mat-icon-grey">alarm</mat-icon>
              </button>
              <mat-form-field class="notiSelect">
                <mat-select class="select-noti-items" placeholder="Set Reminder" >
                  <mat-option value="0">None</mat-option>
                  <mat-option value="1">Disable</mat-option>
                  <mat-option value="2">on time</mat-option>
                  <mat-option value="3">5 Min early</mat-option>
                  <mat-option value="4">30 Min early</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
        
          <mat-action-row>
            <button mat-button (click)="closePanel()">Click me</button>
          </mat-action-row>
        </mat-expansion-panel>
  </div>
</div>
<div class="events-card-wrap">
  <div class="events-card card">
    <header class="events-card-header card-header">
      <span>今天</span>
      <span class="date"> · 4月20日</span>
    </header>
    <div class="event-view clearfix event-open-handler">
      <div class="event-time">
        <div>
          <time> 21:00</time>
          <div>~</div>
          <time> 22:00</time>
        </div>
      </div>
      <div class="event-content">
        <div class="event-content-container">
          <h3 class="event-title">asdfasdf</h3>
          <div class="involve-set">
            <div class="involve-view">
              <div class="member-involve-header">
                <span>参与者</span>
              </div>
              <ul class="involve-members clearfix">
                <li class="involve-member" data-id="577693588d91c8bf6019c69e">
                  <span data-role="avatar" class="avatar__1GQB avatar-small__2-2i avatar-circle__5kXt" shape="circle" style="background-image: url(&quot;https://striker.teambition.net/thumbnail/110i3034a0b9a83c122da6033fc05d0c0ad8/w/200/h/200&quot;);"></span>
                </li>
                <li class="involve-member-add">
                  <a class="add-involvement-handler clearfix">
                    <span>
                      <span class="icon__13EW icon dls-icon icon-circle-cross member-involve-icon" data-role="icon" style="font-size: 24px;"></span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a class="button more icon icon-chevron-right"></a>
    </div>

  </div>
</div>
</div>