.color-grey-button{
  color: #757575;
}
.margin-bottom-15{
  box-sizing: border-box;
  margin-bottom: 15px;
}
.margin-left-15 {
  margin-left: 15px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-indigo {
  color: #3f51b5;
}

.agendas-container {
  position: fixed;
  top: 110px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  overflow: auto;
  transition: all 218ms ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.events-header {
  width: 80%;
  min-width: 750px;
  padding: 20px 0 0;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  z-index: 1;
}
.events-card-wrap {
  width: 80%;
  padding: 30px 0 0;
  min-width: 750px;
}
h1{
  font-size: 200%
}


.before-panel{
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: bold;
  
}

.toggleBtn{
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
.date-header{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color:#757575
}
.divider{
  margin-left: 5px;
  margin-right: 5px;
}
.events-card {
  margin-bottom: 20px;
}
.events-card .events-card-header {
  margin: 0 15px;
  font-size: 18px;
}
.repeatSelect,
.notiSelect {
  box-sizing: border-box;
  width: 110px;
}
.flex-start{
  align-self:flex-start;
  align-content: center;
}
.events-view .events-header .event-create-handler {
  cursor: pointer;
  height: 50px;
}

.agenda-date-picker {
  margin-top: 14px;
}
.agenda-date-picker-span {
  color: #757575;
  font-size: 14px;
  margin-top: 16px;
  margin-right: 10px;
}

.component-mount.due-date {
  min-width: 0%;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.dateInput {
  width: 0px;
  height: 0px;
  visibility: hidden;
  /* display:none */
}
.datepicker-form {
  width: 100px;
}
.mat-icon-grey {
  color: #757575;
}
.content-divider {
  margin-left: 16px;
  margin-right: 16px;
}
.repeatBtn,
.notiBtn {
  margin-left: 20px;
  margin-top: 3px;
}
/* .comment-input-wrap{
      height: 40px;
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background: white;
      border-radius: 0px  ;
      -webkit-border-radius: 0px  ;
      -moz-border-radius: 0px  ;
      -ms-border-radius: 0px  ;
      -o-border-radius: 0px  ;
}
 .comment-input{
     outline: none;
     border: none;
     height: 40px;
     width: 100%;
     background: white;
     margin-left: 20px;
     /* border-radius: 20px ; */

/* } */
.send-button {
  align-self: flex-end;
  color: #3f51b5;
}
.input-wrap{
  display: flex;
  align-items: center;
  text-align: left;
  height: 40px;
}
.agenda-title-input{
  width:300px;
padding: 4px;
margin-left: 20px;
margin-right: 25px;
font-size: 14px;
word-break: break-word;
font-weight: 500;
border-radius: 3px;
border: none;
outline: none;
}
.agenda-title-input:focus{
  border: none;
    background: #eee;

}
.check-box{
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
   margin-left:10px;
  /* margin-top: 4px; */ 
}
.add-agenda-icon{
  box-sizing: border-box;
  position: relative;
   
}
.past-agenda{
  margin-bottom: 30px;
}