
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.share-container {
  position: fixed;
  top: 110px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  z-index: 3;
  /* overflow: hidden;
    transition: all 218ms ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}
mat-sidenav {
  width: 350px;
}
.selected{
    background: #eee;
}
.article-item{
    font-size: 20px
    
}
.article-list-header {
  padding-left: 16px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;

}
.article-item-avator {
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(0, 0, 0, 0.04);
  /* background: #eee; */
}
.article-info {
  margin-top: 10px;
  font-size: 5px;
  color: #757575;
}
td-text-editor{
  /* z-index: 100; */
 position: relative; 
  /* top:50px;
  left: 0px;
  right: 0px;
  bottom: 0px; */
  min-height:600px;
  /* margin-top:110px; */
}
.article-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.sidenav-toggle-btn{
  align-self:flex-start;
}
quill-editor {
  position: relative;
  height: 100%;

}
.article-sidenav{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0%;
}
.article-list-wrap{
  overflow: auto;
  overflow-x: visible;
}
.create-article-wrap{
/* display: flex; */
background: #eee;
/* align-self: flex-end; */
width: 100%;
height: 50px;
box-sizing: border-box;
transition: box-shadow 218ms ease;
cursor: pointer;
/* align-content: center;
justify-content: center; */

}
.create-article-handler{
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
/* .editor-toolbar.fullscreen{
  position: fixed;
  top: 110px;
  left: 0;
  z-index: 100;
} */

