<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What do you name your project?</p>
  <mat-form-field>
    <input matInput ngModel [(ngModel)]="projectName" required maxlength="20"
    placeholder="Project Name"
    #project="ngModel"
    (keyup.enter)="addProject()">
    <mat-error *ngIf="project.invalid && (project.dirty || project.touched)">       
      <span *ngIf="project.errors.required">name is required</span>
      </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color ="basic" (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="addProject()" color="primary">Done</button> 
</div>