<div class="scrum-stage mat-elevation-z3">
    <header class="scrum-header">
        <span>{{tasklist.task_list_title}}</span>
        <span class="example-fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="openEditDialog()">
                <mat-icon>edit</mat-icon>
                <span translate>TASK_PAGE.EDIT</span>
            </button>
            <button mat-menu-item (click)="onDeleteReq()">
                <mat-icon>delete</mat-icon>
                <span translate>TASK_PAGE.DELETE</span>
            </button>
            <button mat-menu-item (click)="openAddAfterDialog()">
                <mat-icon>view_list</mat-icon>
                <span translate>TASK_PAGE.ADD_LIST_AFTER</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">
                <mat-icon>filter_list</mat-icon>
                <span translate>TASK_PAGE.EDIT_TASK</span>
            </button>
        </mat-menu>
        <mat-menu #vertebrates="matMenu">
            <button *ngIf="isShowCompletedTask" mat-menu-item (click)=showOrHideCompletedTask() translate>TASK_PAGE.HIDE_DONE_TASK</button>
            <button *ngIf="!isShowCompletedTask" mat-menu-item (click)=showOrHideCompletedTask() translate>TASK_PAGE.SHOW_DONE_TASK</button>
            <button mat-menu-item translate>TASK_PAGE.MOVE_ALL_TASK</button>
            <button mat-menu-item (click)="completeAllTasks()" translate>TASK_PAGE.COMPLETE_ALL</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </header>
    <div class="scrum-stage-wrap">
        <section class="scrum-stage-content">
            <div class="scrum-stage-tasks">

                <app-task-item *ngFor="let activetask of activeTask" [task]="activetask" (click)=openTaskEditDialog($event,activetask) (deleteRequest)="onDestroy($event)" (editRequest)=onEdit($event) ></app-task-item>
                

            </div>
            <div *ngIf="isShowCompletedTask" class="scrum-stage-tasks-done" >
                <app-task-item *ngFor="let completedtask of completedTasks" [task]="completedtask" (reviveRequest)="onRevive($event)" (editRequest)=onEdit($event) ></app-task-item>

            </div>

        </section>
        <div class="task-creator-handler-wrap">

            <div class="task-creator-handler">
                <div class="add-task-input-wrap" [tdToggle]="toggleDiv">
                    <mat-form-field class="add-task-input">
                        <!-- <input matInput placeholder="Add task..."> -->
                        <input matInput [(ngModel)]="addedTask" (keyup.enter)="addTask();addInput.reset()" placeholder="Add task here.." matTextareaAutosize matAutosizeMinRows="0" matAutosizeMaxRows="5" #addInput="ngModel">

                    </mat-form-field>

                </div>
                <button mat-icon-button color="primary" (click)="toggle()" class="add-task-button">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>