.scrum-stage{
    position: relative;
    height: 100%;
    width: 288px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: 10px;
    vertical-align: top;
    background-color: #eee;
    border-radius: 3px;
}
.scrum-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 0px;
  
    height: 50px;
    background: inherit;
  }
 .scrum-stage .scrum-stage-wrap{
     box-sizing: border-box;
    position: relative;
    height: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0%;
 } 
 .scrum-stage .scrum-stage-wrap .scrum-stage-content{
     box-sizing: border-box;
    overflow: auto;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
 .scrum-stage-tasks{
    transition: opacity 0.08s ease-out;
    opacity: 1;
 }
 .scrum-stage-tasks .task-item {
    font-size: 14px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  /* 横轴的布局 */
  /* justify-content: flex-start; */
  /* 纵轴的布局 */
 
  position: relative;
  background: #fafafa;
  max-width: 273px;
  width: 100%;
  min-height: 48px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0 8px 8px;
  white-space: normal;
}
.scrum-stage-wrap .task-creator-handler-wrap{
    width: 100%;
    background-color:red;
    box-sizing: border-box;
    transition: box-shadow 218ms ease;
}
.scrum-stage-wrap .task-creator-handler-wrap .task-creator-handler{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 8px;
    padding: 14px 15px;
    border-radius: 3px;
    font-size: 15px;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }