<div class="scrum-stage mat-elevation-z3">
    <header class="scrum-header">
        <span>On The Go</span>
        <span class="example-fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </header>
    <div class="scrum-stage-wrap">
        <section class="scrum-stage-content">
            <div class="scrum-stage-tasks">

                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>
                <app-task-item></app-task-item>

            </div>
            <div class="scrum-stage-tasks-done">

            </div>

        </section>
        <div class="task-creator-handler-wrap">

            <div class="task-creator-handler">
                <div class="add-task-input-wrap" [tdToggle]="toggleDiv">
                    <mat-form-field class="add-task-input">
                        <!-- <input matInput placeholder="Add task..."> -->
                        <textarea matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="0" matAutosizeMaxRows="5"></textarea>

                    </mat-form-field>

                </div>
                <button mat-icon-button color="primary" (click)="toggle()" class="add-task-button">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>