<div class="task-item-wrapper">
<div class="task-item mat-elevation-z1">
    <div class="task-priority"></div>
    <mat-checkbox class="task-check"></mat-checkbox>
    <!-- <span>Although the icons in the </span> -->

    <div class="task-content-set">
        <header class="task-content-wrapper">
            <div class="task-content">Although the icons in the</div>
        </header>
        <section class="task-info-wrapper">
            <div class="task-infos">

            </div>
        </section>
    </div>

</div>
</div>