<div class="navbar">
    <mat-toolbar class="mat-elevation-z6" role="toolbar" color="primary">
     
      <span> Workether </span>
      
      <button mat-icon-button (click)="openDialog()" class="add-project-button"><mat-icon>add_box</mat-icon></button>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <button mat-icon-button class="add-project-button"><mat-icon>chat</mat-icon></button>
      <button mat-icon-button class="noti-button"><mat-icon>notifications</mat-icon></button>
      <button mat-icon-button class="account-button"><mat-icon>account_circle</mat-icon></button>

    </mat-toolbar>
  </div>