<div class="scrum-stage">
    <header class="scrum-header">
      
          <mat-icon class="sublist-icon mat-18">view_list</mat-icon>
     
        <span>{{'EDIT_TASK.SUBLIST' | translate}}</span>
        <span class="example-fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">
                <mat-icon>filter_list</mat-icon>
                <span>{{'EDIT_TASK.EDIT_TASK' | translate}}</span>
            </button>
        </mat-menu>
        <mat-menu #vertebrates="matMenu">
            <button *ngIf="isShowCompletedTask" mat-menu-item (click)=showOrHideCompletedTask()>{{'EDIT_TASK.HIDE_DONE_TASK' | translate}}</button>
            <button *ngIf="!isShowCompletedTask" mat-menu-item (click)=showOrHideCompletedTask()>{{'EDIT_TASK.SHOW_DONE_TASK' | translate}}</button>
            
            <button mat-menu-item (click)="completeAllTasks()">{{'EDIT_TASK.COMPLETE_ALL' | translate}}</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </header>
    <div class="scrum-stage-wrap">
        <section class="scrum-stage-content">
            <div class="scrum-stage-tasks">

                <app-subtask-item *ngFor="let activetask of activeTask" [task]="activetask" (deleteRequest)="onDestroy($event)" (editRequest)=onEdit($event) ></app-subtask-item>
                

            </div>
            <div *ngIf="isShowCompletedTask" class="scrum-stage-tasks-done" >
                <app-subtask-item *ngFor="let completedtask of completedTasks" [task]="completedtask" (reviveRequest)="onRevive($event)" (editRequest)=onEdit($event) ></app-subtask-item>

            </div>

        </section>
        <div class="task-creator-handler-wrap">

            <div class="task-creator-handler">
                <div class="add-task-input-wrap" [tdToggle]="toggleDiv">
                    <mat-form-field class="add-task-input">
                        <!-- <input matInput placeholder="Add task..."> -->
                        <input matInput [(ngModel)]="addedTask" (keyup.enter)="addTask();addInput.reset()" placeholder="Add subtask" matTextareaAutosize matAutosizeMinRows="0" matAutosizeMaxRows="5" #addInput="ngModel">

                    </mat-form-field>

                </div>
                <button mat-icon-button color="basic" (click)="toggle()" class="add-task-button">
                    <mat-icon class="mat-18">add_circle_outline</mat-icon>
                </button>

            </div>
        </div>
    </div>
</div>