.form-group {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 95%;
}
.form-group > * {
  width: 100%;
}
.login-card {
  display: flex;
  margin: auto;
  flex-direction: column;
  min-width:300px;
  max-width: 450px;
  opacity: 0.8;
  /* filter:blur(15px); */
  position: absolute;
  top:  45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* -webkit-filter:blur(15px); */
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.signinBtnr,.loginBtnr {
  float: right;
}
.card-container{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 100%;
  */background:url('../background.JPG');
  filter: blur(15px); 
  -webkit-filter: blur(15px);
}