/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* @import url('../node_modules/bootstrap/dist/css/bootstrap.css'); */
h1 {
    color: #3f51b5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  } 
   body
  {
    margin: 0px;
    background:#FAFAFA
  } 

  
    
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .myapp-no-padding-dialog{
    max-width:none;
  }
  .myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
  }
  .myapp-no-padding-dialog .mat-form-field-underline{
    height: 0px;
  }
  
.add-agenda.mat-expansion-panel-header-description{
  justify-content: center;
}
.mat-action-row {padding: 8px 8px 8px 24px}
.myapp-side-overlay{
   box-sizing: border-box;
   /* position: absolute;
   top: 110px;
   bottom: 0;
   right: 0; */
   /* padding-top: 110px; */
   margin-top: 110px;
   margin-inline-end: -500px;
   width: 300px;
   /* height: 100%; */
   /* background: brown; */
   transform: translate(-500px,0px);
   /* overflow: scroll; */
   /*SafariandChrome*//*animation: myfirst 5s;
   *//*transition:  transform 2s;
   */animation: myfirst 0.5s;
   -webkit-animation: myfirst 0.5s;
   -webkit-transform: translate(-500px,0px);
   -moz-transform: translate(-500px,0px);
   -ms-transform: translate(-500px,0px);
   -o-transform: translate(-500px,0px);
}
@keyframes myfirst
{
    from { transform: translate(0px,0px); -webkit-transform: translate(0px,0px); -moz-transform: translate(0px,0px); -ms-transform: translate(0px,0px); -o-transform: translate(0px,0px); }
    to  { transform: translate(-500px,0px); -webkit-transform: translate(-500px,0px); -moz-transform: translate(-500px,0px); -ms-transform: translate(-500px,0px); -o-transform: translate(-500px,0px); }
}
 
@-webkit-keyframes myfirst /* Safari 与 Chrome */
{
    from {background: red;}
    to {background: yellow;}
}
::-webkit-scrollbar {
  width: 7px;
  /* background-color: #757575; */
}
::-webkit-scrollbar-thumb{
  background-color: #757575;
}
::-webkit-scrollbar-track{
  /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F5F5F5;
}
/* #style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}  */
.myapp-side-add-user-overlay{
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
}

