/* // @import '~@angular/material/theming';
// @include mat-core();


// $candy-app-primary: mat-palette($mat-indigo);
// //$candy-app-accent:  mat-palette($mat-accent);
// $candy-app-warn: mat-palette($mat-red);



// app-navbar{
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 2;
    
// } */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-indigo {
  color: #3f51b5;
}
.tasklists-container {
  position: fixed;
  top: 110px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  overflow: hidden;
  transition: all 218ms ease;
}
.board-scrum-view {
  position: relative;
  height: 100%;
  background-color: #fff;
  border: 0 solid #e5e5e5;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.board-scrum-stages {
  /*display: flex;
    */
  position: relative;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 30px;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}
.stage-add-view{
  position: relative;
  height: auto;
  width: 288px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction:row;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0px;
  vertical-align: top;
  background-color:#eee;
  border-radius: 3px;
  padding-left: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.tasklist_add_input_wrapper{
  box-sizing: border-box;
  flex: 1 1 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  background: #eee;
  box-shadow: 0px;
  border-radius:0px ;
  -webkit-border-radius:0px ;
  -moz-border-radius:0px ;
  -ms-border-radius:0px ;
  -o-border-radius:0px ;
}
.add-tasklist-input{
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  border: none;
}
mat-panel-description{
  padding-top:3px;
}