<app-navbar></app-navbar>
<app-tab-bar [projectId]="projectId"></app-tab-bar>
<div class="tasklists-container">
    <div class="board-scrum-stages ">
        <div class="scrum-stage mat-elevation-z3">
            <div class="scrum-header">
                <span>On The Go</span>
                <span class="example-fill-remaining-space"></span>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Help</button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <div class="scrum-stage-wrap">
                <section class="scrum-stage-content">
                    <div class="scrum-stage-tasks">
                        <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">Although the icons in the</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>

                        <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>
                        <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>
                        <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>
                        <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>
                         <div class="task-item mat-elevation-z1">
                            <div class="task-priority"></div>
                            <mat-checkbox class="task-check"></mat-checkbox>
                            <!-- <span>Although the icons in the </span> -->

                            <div class="task-content-set">
                                <header class="task-content-wrapper">
                                    <div class="task-content">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                </header>
                                <section class="task-info-wrapper">
                                    <div class="task-infos">

                                    </div>
                                </section>
                            </div>

                        </div>
                        
                    </div>
                    <div class="scrum-stage-tasks-done">

                    </div>

                </section>
                <div class="task-creator-handler-wrap">
                    <a class="task-creater-handler">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>
            <div class="list-body"></div>
        </div>
    </div>
</div>